<div class="container">
  <header class = "jumbotron">
    <h1>The Everlasting Well of Knowledge</h1>
    <h4>If You Have Questions, We Have Answers</h4>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}}<br>
  </footer>
</div>
